.TodoItem {
    /*PARA QUE SE ACOMODE ALA PAGINA SUPUESTAMENTE*/
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        150px,
        1fr
      )
    );
    gap: 16px;  /*para un esacio*/ 
    /* de aqui hacia arriba no funciona*/
/*COLOR DE LAS TAREAS*/
    background-color: #da95e8b9;
    position: relative;
    display: flex;  /*todo dentro de cajon*/
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0px 5px 30px rgba(191, 110, 228, 0.15);

    width: 570px;
    border-radius: 20px;
    border: 2px solid #bf71d979;
    margin-left: 22%;
    
  }
  
  /*cambiar letra tareas que ingresa usuario*/
  .TodoItem-p {
    margin: 10px 0 7px 60px;
    width: calc(100% - 120px);
    /*tamaño letra*/
    font-size: 25px;
    line-height: 30px;
    font-weight: 100;
    
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
    
    /* linea tachada cuando esta hecho*/
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: rgba(0, 0, 0, 0.945); */
    
  }
  
  .Icon-check {
    position: absolute;
    left: 0px;
    /*TAMAÑO CHULO*/
    font-size: 50px;
  }
  
  /* cuando esta hecha una tarea color  */
  .Icon-check--active {
    color: #37c037;
  }

  
  .Icon-delete {
    position: -ms-page;
    top: -2px;
    right: 0;
    /*TAMAÑO X*/
    font-size: 50px;
  }
  .Icon-delete:hover {
    color: red;
  }