.TodoItem {
    background-color: #da95e8b9;
    position: relative;
    display: flex;  /*todo dentro de cajon*/
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0px 5px 30px rgba(191, 110, 228, 0.15);

    width: 570px;
    border-radius: 20px;
    border: 2px solid #bf71d979;
    margin-left: 22%;
  }
  
  .TodoItem-p {
    margin: 7px 0 7px 7px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 50;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
    /* linea tachada cuando esta hecho*/
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  
  /* cuando esta hecha una tarea color  */
  .Icon-check--active {
    color: #30b130;
  }
  
  .Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  }