.TodoSearch {
    background: #F9FBFC;
    border-radius: 20px;
    border: 2px solid #bf71d9;
    /* margin: 0 24px; */
    height: 40px;
    width: 600px;
    margin-left: 0%;
    margin-top: 4%;
    /* width: calc(100% - 62px); */
    font-size: 20px; /* letra tamaño */
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #be74a3;
    box-shadow: 0px 5px 50px rgba(210, 110, 192, 0.25); /* sombra externa*/
  }
  
  .TodoSearch::placeholder {
    color: #e4b4f0;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }