form { /*fondo*/
    width: 90%;
    max-width: 500px;
    /* color de fondo del cajon que pregunta el formulario */
    background-color: rgb(247, 242, 242);
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    
  }
  
  label { /* titulo*/
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #c93cb1;
    margin-bottom: 26px;
    
  }
  
  textarea { /* cuadro de escribir tarea*/
    background-color: #ffffff;
    border: 2px solid #b26cc0;
    border-radius: 5px;
    box-shadow: 0px 5px 50px rgba(177, 118, 189, 0.829);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 150px;
    width: calc(100% - 25px);
    
  }
  
  textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
    
  }
  
  textarea:focus {
    outline-color: #61DAFA;
    
  }
  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #912a80;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
    
  }
  
  .TodoForm-button--add {
    background: #61d9fad2;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border-radius: 50px
  }
  
  .TodoForm-button--cancel {
    background: transparent;
  }