.CreateTodoButton {
    background-color: #e2addb;
    box-shadow: 0px 5px 5px rgba(86, 182, 211, 0.37);
    border: none;
    /* curva del boton  */
    border-radius: 30%;
    cursor: pointer;
    /* Tamaño de la cruz */
    font-size: 50px;
    /* fixed es abajo a la derecha */
    position: fixed;
    top: 90px;  /*desde abajo a arriba*/
    /* right: 100px;   de derecha a izquierda */
    margin-left: 36%;

    font-weight: bold;
    color: #bf49d6; /*color de la cruz*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
  
    transform: rotate(0);
    transition: .3s ease;


    /* SIN IMPORTAR QUE HAYA APAREZCA DELANTE (a menos de un z index superior)*/
    z-index: 1; 
  }
  
  .CreateTodoButton:hover {
    transform: rotate(224deg);
  }