.TodoCounter {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    /* margin: 0; */
    margin-left: 100;
    /*centrado desde arriba */
    padding: 35px;

    color: rgb(255, 255, 255);
    
  }

header {
    margin: 0;
    padding: 0%;
    position: relative;
    height: 100px;

    background: #af68e2c9;
    box-shadow: inset 0 -1px 0 rgba(250, 250, 250, 0.4), rgba(192, 99, 161, 0.911) 0 1px 20px, inset 0 1px 0 rgb(255 255 255 / 20%);
    background-size: 20px 20px, auto;

}

/* PONER LA IMAGEN DE CORAZON DE FONDITO solo se necesita la linea 29 para fondo*/
body {
  height: 2000px;
  background-image: url('../Imagen/corazon.png');
  background-size: 100%;
  margin-top: 2%;
  /* background-size: cover; */
  
  /* background: #af68e22d; */
  /*CAJONCITO DEL BODY*/
  box-shadow: inset 0 -1px 0 rgb(36, 20, 107), rgba(192, 99, 161, 0.4) 0 1px 20px, inset 0 1px 0 rgb(255 255 255 / 20%);
 
}
